body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h3{
    font-size: 20px;
}
.half-width{
    width: 50%;
    margin: 5% 5% 0 5%;
}
#intro-pic{
    width: 110%;
}
.flexiblity{
    display: flex;
}
.intro-heading{
    font-family: 'Yeseva One', cursive;
    font-size: 35px;
    padding-left: 15px;
    line-height: 30px;
}
#intro-border{
    border-left: 5px solid orangered;
    border-radius: 5px;
}
.intro-heading-center{
    margin-left: 15%;
    margin-top: 20%;
}
.orange-color{
    color: orange;
}
.dim-color{
    color: dimgray;
}
.button-style{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
#small-tag{
    color: dimgray;
    margin-top:10%;
}
.intro-bg{
    background-image: url(images/shapes/shape-4.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position:left;
}
.mission-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.mission-flexiblity{
    display: flex;
}
#mission-smaller{
    margin: 3%;
}
.mission-bg{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position:bottom left;
}
.triple-width{
    width: 25%;
    margin: 2%;
    border-radius: 25px;
    padding: 10px 45px 10px 25px;
    box-shadow: 0px 0px 20px;
    border-image-slice: 1;
}
.triple-width img{
    width: 50%;
}
#mission{
    background-color: #edf5f6;
}
#vission{
    background-color: #ffeeee;
}
#goals{
    background-color: #fff4d6;
}
.limit-section{
    margin: 1% 0 3% 5%;
}
.limit-pic-radisizing{
    width: 100%;
    border-radius: 25px;
    margin-left: 8%;
    
}
.limits-text{
    margin-top: 5%;
    margin-left: 2%;
}
.limits-text h2{
    font-size: 40px;
    width: 700px;
    line-height: 30px;
}
.pra-sizeing{
    font-size: 18px;
}
.community-text{
    padding-top: 5%;
    padding-left: 8%;
    margin-right: 0%;
    width: 70%;
}
.community-text h2{
    font-size: 40px;
    line-height: 30px;
}
.com-pic-radisizing{
    width: 100%;
    border-radius: 25px;
    margin-bottom: 15%;
}
.agency-heading{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    padding-top: 0%;
}
.agency-img{
    width: 80%;
    box-shadow: 5px 5px 30px gray;
    border-image-slice: 1;
    border-radius: 15px;
    margin-left: 25%;
    margin-bottom: 15%;
}
#farm-heading{
    font-size: 35px;
    font-weight: 700;
}
.agency-text{
    padding-top: 5%;
}
footer{
    text-align: center;
    background-color: #0B0D17;
    
}
footer h3{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
    color: white;
    padding-top: 40px;
}
#ext-color{
    color:tomato
}
footer p{
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
    font-size: 14px;
    padding-bottom: 40px;
}