body{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.half-width{
    width: 50%;
    margin: 5% 5% 0 5%;
}
#intro-pic{
    width: 110%;
}
.flexiblity{
    display: flex;
}
.intro-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    padding-left: 15px;
    line-height: 30px;
}
#intro-border{
    border-left: 5px solid orangered;
    border-radius: 5px;
}
.intro-heading-center{
    margin-left: 15%;
    margin-top: 20%;
}
.orange-color{
    color: orange;
}
.dim-color{
    color: dimgray;
}
.button-style{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
#small-tag{
    color: dimgray;
    margin-top:10%;
}
.mission-heading{
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}
.mission-flexiblity{
    display: flex;
}
.triple-width{
    width: 25%;
    margin-left: 2%;
    border: solid white;
    border-radius: 25px;
    padding: 10px 45px 10px 25px;
}
.triple-width img{
    width: 50%;
}
#mission{
    background-color: #edf5f6;
}
#vission{
    background-color: #ffeeee;
}
#goals{
    background-color: #fff4d6;
}
.limit-section{
    margin: 1% 0 3% 5%;
}
#limit-pic{
    width: 100%;
    border-radius: 25px;
    margin-left: 8%;
    
}
.limits-text{
    margin-top: 5%;
    margin-left: 2%;
}
.limits-text h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    width: 700px;
}
.sizeing{
    font-size: 18px;
}